target/
*.csv
*.dat
*.png
*.fig

out_report/*
!out_report/mnist/.gitkeep

temp/*
!temp/.gitkeep


test_data/mnist/*
!test_data/mnist/.gitkeep

test_data/*
!test_data/*.py

output_csv/*
!output_csv/mnist/.gitkeep
!output_csv/*.py